{% extends 'board/base.html' %}
{% block title %}ImageBoard{% endblock %}

{% block branding %}<h1 id="site-name">ImageBoard</h1>{% endblock %}

{% block content %}
    {% block new_message %}
    <form action="{% url 'board_api:post_new_message' %}" method="post" enctype="multipart/form-data">
    <!-- <form action="/api/board/new" method="post"> -->
        {% csrf_token %}
        <p><h2>New message:</h2></p>
        {{ new_message_form.as_p }}
        <button type="submit" class="save btn btn-default">Publish</button>
    </form>
    {% endblock %}

    {%  block messages %}
        {% for message in messages %}
            {% filter linebreaks %}
            {{ message.get_author }} at {{ message.datetime }}:
            <strong>{{ message.subject }}</strong>
            {% filter linebreaksbr %}{{ message.body }}{% endfilter %}
            {% if  message.image %}
                <a href="{{ MEDIA_URL }}{{ message.image }}">
                    <img src="{{ MEDIA_URL }}{{ message.image }}" height="150" width="150">
                </a>
            {% endif %}
            {% endfilter %}
        {% endfor %}
    {% endblock %}
{% endblock %}
