{% extends 'base.html' %}
{% block title %}ImageBoard{% endblock %}

{% block content %}
    <div id="greeting">
    {% if user.is_authenticated %}
    {% block greeting %}
        <h2>Welcome, {{ user.get_username }}</h2>
    {% endblock %}
    {% endif %}
    </div>

    <div id="nav">
    {% block nav %}
    {% if user.is_authenticated %}
        <a href="{% url 'users:profile' %}">Profile</a> |
        <a href="{% url 'users:change_password' %}">Change password</a> |
        {% if user.is_staff %}
        <a href="{% url 'admin:index' %}">Admin</a> |
        {% endif %}
        <a href="{% url 'users_api:sign_out' %}">Sign out</a>
    {% else %}
        <a href="{% url 'users:sign_in' %}">Sign in</a> |
        <a href="{% url 'users:sign_up' %}">Sign up</a>
    {% endif %}
    {% endblock %}
    </div>

    {% block new_message %}
    <form action="{% url 'board_api:post_new_message' %}" method="post" enctype="multipart/form-data">
    <!-- <form action="/api/board/new" method="post"> -->
        {% csrf_token %}
        <p><h2>New message:</h2></p>
        {{ new_message_form.as_p }}
        <button type="submit" class="save btn btn-default">Publish</button>
    </form>
    {% endblock %}

    {%  block messages %}
    {% for message in messages %}
        {% filter linebreaks %}
        {{ message.get_author }} at {{ message.datetime }}:
        <strong>{{ message.subject }}</strong>
        {% filter linebreaksbr %}{{ message.body }}{% endfilter %}
        {% if  message.image %}
            <a href="{{ MEDIA_URL }}{{ message.image }}">
                <img src="{{ MEDIA_URL }}{{ message.image }}" height="150" width="150">
            </a>
        {% endif %}
        {% endfilter %}
    {% endfor %}
    {% endblock %}

    <div class="pagination">
    <span class="step-links">
        {% if messages.has_previous %}
        <a href="?page={{ messages.previous_page_number }}"><---</a>
        {% endif %}

        <span class="current">
        page {{ messages.number }} of {{ messages.paginator.num_pages }}
        </span>

        {% if messages.has_next %}
        <a href="?page={{ messages.next_page_number }}">---></a>
        {% endif %}
    </span>
    </div>
{% endblock %}
